body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f2f2f2;
  padding: 30px;
  margin: 0;
}
h1{
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  max-width: 800px;
  margin: auto;
  background: #fff;
  padding: 25px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #444;
}

input[type="text"],
input[type="date"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  resize: vertical;
}

button {
  margin-top: 25px;
  padding: 12px 25px;
  background-color: #007b5e;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

button:hover {
  background-color: #005f47;
}

pre {
  background: #fff;
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-left: 4px solid #007b5e;
  font-family: Consolas, monospace;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
